


body { 
  background-image: url("pointbreakbackground.jpg");
  background-size:stretch;
  }


.col-sm-4 {
	border: 5px ridge red;
	text-align: center;
	height:150px;
/*	background:yellow;*/
}

.col-xs-10 {

	border: 1px solid black;
	text-align: center;
	height:100px;
	width:992px;
	left:18px;
	background:gray;
	color:yellow;
	font-size:20px;

}

.col-xs-3 {

	border: 1px solid black;
	text-align: center;
	height:450px;
	margin:17px;
	background:blue;
}

.col-xs-7 {
	margin:20px;
	bottom:3px;
}

#clear {
	background:gray;
}

select {
	margin:17%;
	width:100px;
	font-family:helvetica;
	font-size:60px;
	-webkit-appearance: menulist-button;
	background-color:yellow;

}

#playerXWins {
	color:red;
}

#wins {
	color:red;
	font-size:20px;
}

#winsO {
	color:yellow;
	font-size:20px;
}

#playerOWins {
	color:yellow;
}

#quote {
	color:white;
	font-size:20px;
}

#square1 {
	border-left:none;
	border-top:none;
}

#square2 {
	border-top:none;
}

#square3 {
	border-right:none;
	border-top:none;
}

#square4 {
	border-left:none;

}

#square6 {
	border-right:none;

}

#square7 {
	border-left:none;
	border-bottom:none;

}

#square8 {
	border-bottom:none;

}

#square9 {
	border-right:none;
	border-bottom:none;

}

.xcolor {
    background-color: red;
}

option {
    background-color: red;
}

#popUpText {
	color:orange;
	font-size:20px;
}
#yImg {
	width:225px;
}

#popUpTextY {
	color:orange;
	font-size:20px;
}

#reload {
	width:126px;
	margin:19px;
}


