


body { 
  background-image: url("pointbreakbackground.jpg");
  background-size:stretch;
  }


.col-sm-4 {
	border: 3px solid black;
	text-align: center;
	height:150px;
	background:yellow;
}

.col-xs-10 {

	border: 3px solid black;
	text-align: center;
	height:100px;
	width:992px;
	left:18px;
	background:gray;
	color:yellow;

}

.col-xs-3 {

	border: 3px solid black;
	text-align: center;
	height:450px;
	margin:17px;
	background:blue;
}

.col-xs-7 {
	margin:20px;
	bottom:3px;
}

#clear {
	background:gray;
}

select {
	margin:45px;
	width:100px;
	font-family:helvetica;
	font-size:60px;
}

#playerXWins {
	color:red;
}

#wins {
	color:red;
	font-size:20px;
}

#winsO {
	color:yellow;
	font-size:20px;
}

#playerOWins {
	color:yellow;
}



